//Text
$text-primary: #D9D9D9;
$text-secondary: #949B9A;
$text-accent: #8CD843;

//Page
$primary-600: #313338;
$primary-650: #2E3035;
$secondary-900: #1E1F22;
$secondary-900-o80: #1e1f22CC;
$accent-700: #2B2D31;
$white: #D9D9D9;

//Tags
$blue: #AECBFA;
$blue-dark: #174EA6;
$green: #A8DAB5;
$green-dark: #0D652D;
$purple: #C9B8F5;
$purple-dark: #6148E1;
$red: #F6AEA9;
$red-dark: #B12624;
$yellow: #E7B30A;
$yellow-dark: #53420E;

//Button text
$button-text: #D9D9D9;
$button-highlight: #FAFAFA