@use "color";
@use "typography";

.education {
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
    gap: 1rem;

    h2 {
        @include typography.heading-lg;
        color: color.$text-primary;
        margin-left: 0.5rem;
    }

    .info {
        display: flex;
        border-left: 0.125rem solid color.$white;
        padding-left: 1rem;
        gap: 1rem;
        align-items: start;

        img {
            width: 4rem;
        }

        .content {
            h3 {
                @include typography.heading-md;
                color: color.$text-primary;
            }
            
            p {
                @include typography.heading-sm;
                color: color.$text-primary;
            }
        
            .date {
                @include typography.small;
                color: color.$text-secondary;
                margin: 0 0 0.5rem 0;
            }

            details {
                color: color.$text-primary;

                &[open] img {
                    rotate: 180deg;
                }

                summary {
                    display: flex;
                    gap: 0.5rem;
                    
                    img {
                        width: 1.5rem;
                    }
                    

                    &::marker {
                        display: none;
                    }

                    span {
                        font-weight: 700;
                    }
                }

                span {
                    @include typography.small;
                }

                ul {
                    @include typography.small;
                    padding-left: 1.5rem;
                }
            }
        }
    }
}