@use "color";
@use "typography";

.skills {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    gap: 1rem;
    @include typography.heading-sm;
    color: color.$text-primary;

    h2 {
        @include typography.heading-lg;
    }

    h3 {
        @include typography.heading-sm;
    }
    
    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        p {
            border-radius: 0.75rem;
            padding: 0 0.5rem;
        }
    }

    .languages p {
        color: color.$blue;
        background-color: color.$blue-dark;
    }

    .frameworks p {
        color: color.$green;
        background-color: color.$green-dark;
    }

    .backend p {
        color: color.$purple;
        background-color: color.$purple-dark;
    }

    .databases p {
        color: color.$red;
        background-color: color.$red-dark;
    }
    
    .practices p {
        color: color.$yellow;
        background-color: color.$yellow-dark;
    }
}