@use "reset";
@use "color";
@use "typography";
@use "header";
@use "hero";
@use "profile";
@use "skills";
@use "education";
@use "projects";
@use "video";
@use "footer";
@use "breakpoint";

html {
    scroll-behavior: smooth
}

body {
    @include typography.body;
    background-color: color.$primary-600;
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        .container {
            @include breakpoint.sm {
                display: flex;
                max-width: 45rem;
                position: relative;
                align-items: start;
                

                .column, .profile {
                    flex: 1 1 0%;
                }
            }

            @include breakpoint.xl {
                max-width: 75rem;
            }
        }
        .skills, .education, .projects, .video {
            margin-top: 5rem;
        }
    }
    
}